 <div>
    <h1>업무 내용을 팀원과 공유를 하고 팀 목표를 달성해보세요.</h1>
    <p>안녕하세요. TeamTodo 회원가입 인증번호 입니다.</p>
    <p>인증번호: <b>{{randomText}}</b> 입니다.</p>
    <p style="margin-top: 20px;">홈페이지로 이동 후, 회원가입을 진행해 주세요.</p>
</div>